body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
  }
  
  .App {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
    width: 250px;
    transition: all 0.3s ease;
  }
  
  input:focus {
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2980b9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1f6698;
  }
  
  .user-info {
    background-color: #fff;
    border: 2px solid #1f6698;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    text-align: left;
    line-height: 1.8;
  }
  
  
  .user-info h2 {
    color: #2980b9;
    margin-bottom: 15px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  
  .user-info strong {
    color: #2c3e50;
  }
  
  .error {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
  }
  